{% extends 'base.html' %}
{% load static %}

{% block title %}RX - Контакты{% endblock %}

{% block content %}
<div class="container">
    <section class="contacts">
        <div class="contact_heading">
            <h1>Общая информация о клинике:</h1>
        </div>
        <div class="contact_info">
            <h2>Мы рады приветствовать вас на нашем сайте! RX — это современная стоматологическая клиника...</h2>
        </div>
        
        <div class="contact_table">
            <!-- Контактная информация -->
        </div>
        
        <div class="subtitle">
            <h2>Приходите к нам на прием</h2>
        </div>
        
        <div class="contact_cards">
            {% for clinic in clinics %}
            <div class="contact_card">
                <h2>{{ clinic.name }}</h2>
                <p>Адрес: <br>{{ clinic.address }}</p>
                <div class="contact_button">
                    <a href="{% url 'entry' %}">Записаться</a>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="contact_img">
            <img src="{% static 'assets/image/contact.png' %}" alt="#">
        </div>
    </section>
</div>

<div style="position:relative;overflow:hidden;">
    <iframe src="https://yandex.ru/map-widget/v1/?ll=52.265735%2C54.899990&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NTg3MDg5NBKAAdCg0L7RgdGB0LjRjywg0KDQtdGB0L_Rg9Cx0LvQuNC60LAg0KLQsNGC0LDRgNGB0YLQsNC9ICjQotCw0YLQsNGA0YHRgtCw0L0pLCDQkNC70YzQvNC10YLRjNC10LLRgdC6LCDRg9C70LjRhtCwINCb0LXQvdC40L3QsCwgMTIzIgoNHRBRQhWXmVtC&source=serp_navig&z=17.12" 
            width="1920" height="700" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
</div>
{% endblock %}