{% extends 'base.html' %}
{% load static %}

{% block title %}RX - О нас{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/swiper/swiper-bundle.min.css' %}">
{% endblock %}

{% block content %}
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="slider_img">
                <img src="{% static 'assets/image/slider1.png' %}" alt="">
            </div>
            <div class="swiper_content">
                <h2>Забота о вашем здоровье</h2>
                <p>Наша стоматология направлена на предоставление высококачественного медицинского обслуживания...</p>
            </div>
        </div>
        <!-- остальные слайды -->
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'css/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}