{% extends 'base.html' %}
{% load static %}

{% block title %}RX - Главная{% endblock %}

{% block extra_css %}
<style>
    .background_img {
        background-image: url('{% static "assets/image/slider1.png" %}');
        width: 100%;
        height: 1080px;
        position: absolute;
        text-align: center;
        top: 0;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="background_img"></div>

<div class="main_info">
    <h1>Добро пожаловать в клинику <span>"RX Альметьевск"</span></h1>
    <h2>
        Записаться на прием к стоматологу вы сможете
        только после регистрации на сайте
    </h2>
    <div class="buttons">
        <div class="button1">
            <a href="{% url 'profile' %}">Регистрация</a>
        </div>
        <div class="button2">
            <a href="{% url 'entry' %}">Записаться на прием к врачу</a>
        </div>
    </div>
    <div class="cards">
        <div class="card">
            <div class="image">
                <img src="{% static 'assets/image/success.png' %}" alt="Иконка успеха">
            </div>
            <div class="card_text">
                <p>Безопасные операции на современном оборудовании из Европы и США</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="{% static 'assets/image/success.png' %}" alt="Иконка успеха">
            </div>
            <div class="card_text">
                <p>Средний стаж работы докторов в нашей клиники - 10 лет</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="{% static 'assets/image/success.png' %}" alt="Иконка успеха">
            </div>
            <div class="card_text">
                <p>Дипломированные специалисты и опытные профессионалы</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}